<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Report</title>
</head>
<body>

    <table border="1px">
        <thead>
            <th>ID</th>
            <th>Student Name</th>
            <th>Teachers</th>
            <th>Subjects</th>
        </thead>
        {% for student, teachers, subnames in students_data %}
        <tr>
            <td>{{student.id}}</td>
            <td>{{student.user.first_name}}</td>
            <td>
                {% for teacher in teachers %}
                {{teacher.user.first_name}},
                {% endfor %}
            </td>
            <td>
                {% for subname in subnames %}
                {{subname}},
                {% endfor %}
            </td>
        </tr>
        {% endfor %}

    </table>
    
</body>
</html>